<div *ngIf="errorData">Error loading themes</div>
<app-loader *ngIf="!bookList"></app-loader>
<div *ngFor="let book of bookList; let i = index" class="book-container">
  <div class="book-name-wrapper">
    <div class="book-name">
      <a href="#" class="normal">
        <h2>{{book.bookName | shorten : 25}}</h2>
      </a>
      <div class="columns">
        <div>
          <p>Date: <time>{{book.created_at | elapsedTime}}</time></p>
          <div class="nick-name">
            <p>Creator: <span>{{book.userId.username}}</span></p>
          </div>
        </div>
        <div class="subscribers">
           <button class="subscribe">Subscribe</button> 
          <p>Subscribers: <span>{{book.subscribers.length}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
