<div class="new-Book-border">
  <div class="header-background">
    <span>New Book</span>
  </div>

  <!-- Add *ngIf directive and [hidden] attribute to form element -->
  <form *ngIf="loggedIn" #form="ngForm" (ngSubmit)="createBookHandler(form)" [hidden]="!loggedIn">
    <div class="new-Book-title">
      <label for="bookName">Title <span class="red"></span></label>
      <input type="text" name="bookName" #nameInput="ngModel" ngModel required [minlength]="1" id="bookName">
      <ng-container *ngIf="nameInput.touched">
        <p class="error" *ngIf="nameInput.errors?.['required']">
          Book name is required.
        </p>
        <p class="error" *ngIf="nameInput.errors?.['minlength']">
          Book name must be at least {{nameInput.errors?.['minlength']['requiredLength']}} characters long.
        </p>
      </ng-container>
      <div class="new-Book-title">
        <label for="bookDescription">Description <span class="red"></span></label>
        <textarea type="text" name="bookDescription" #nameDescription="ngModel" ngModel required [minlength]="10"
          id="bookDescription" rows="4"  style="width: 558px; height: 50px" >
      </textarea>
        <ng-container *ngIf="nameDescription.touched">
          <p class="error" *ngIf="nameDescription.errors?.['required']">
            Book description is required
          </p>
          <p class="error" *ngIf="nameDescription.errors?.['minlength']">
            Book descripton must be at leat {{nameDescription.errors?.['minlength']['requiredLength']}} character long.
          </p>
        </ng-container>

      </div>
    </div>
    <div class="new-Book-title">
      <label for="postText">Recent Book Title<span class="red"></span></label>
      <input type="text" name="postText" #textInput="ngModel" ngModel required [minlength]="1" id="postText">
      <ng-container *ngIf="textInput.touched">
        <p class="error" *ngIf="textInput.errors?.['required']">
          The field is required.
        </p>
        <p class="error" *ngIf="textInput.errors?.['minlength']">
          The field must be at least {{textInput.errors?.['minlength']}} characters long.
        </p>
      </ng-container>
    </div>
    <div class="new-Book-buttons">
      <button class="cancel" type="button" routerLink="/book/recent">Cancel</button>
      <button class="create" [disabled]="form.invalid">Create</button>
    </div>
  </form>

  <!-- Add div element for displaying message and login link -->
  <div *ngIf="!loggedIn">
    <p>You must be logged in to create a new book.</p>
    <p><a routerLink="/auth/login">Click here</a> to log in.</p>
  </div>
</div>