<div  class="new-Book-border">
  <div class="header-background">
    <span>New Book</span>
  </div>

  <!-- Add *ngIf directive and [hidden] attribute to form element -->
  <form *ngIf="loggedIn" #form="ngForm" (ngSubmit)="createBookHandler(form)" [hidden]="!loggedIn">
    <div class="new-Book-title">
      <label for="bookName">Title <span class="red">*</span></label>
      <input type="text" name="bookName" #nameInput="ngModel" ngModel required [minlength]="5" id="bookName">

      <ng-container *ngIf="nameInput.touched">
        <p class="error" *ngIf="nameInput.errors?.['required']">
          Book name is required.
        </p>
        <p class="error" *ngIf="nameInput.errors?.['minlength']">
          Book name must be at least {{nameInput.errors?.['minlength']['requiredLength']}} characters long.
        </p>
      </ng-container>
    </div>
    <div class="new-Book-content">
      <label for="postText">Short Description<span class="red">*</span></label>
      <textarea type="text" #textInput="ngModel" ngModel required [minlength]="10" name="postText" id="postText"
        rows="8" class="height"></textarea>
      <ng-container *ngIf="textInput.touched">
        <p class="error" *ngIf="textInput.errors?.['required']">
          The field with short description is required.
        </p>
        <p class="error" *ngIf="textInput.errors?.['minlength']">
          Description must be at least {{textInput.errors?.['minlength']['requiredLength']}} characters long.
        </p>
      </ng-container>
    </div>
    <div class="new-Book-buttons">
      <button class="cancel" type="button" routerLink="/book/recent">Cancel</button>
      <button class="create" [disabled]="form.invalid">Create</button>

    </div>
  </form>

  <!-- Add div element for displaying message and login link -->
  <div *ngIf="!loggedIn">
    <p>You must be logged in to create a new book.</p>
    <p><a routerLink="/auth/login">Click here</a> to log in.</p>
  </div>
</div>
